.c-button {
  font-family: $ff-main;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  width: 110px;
  height: 32px;
  background-color: transparent;
  color: #fff;
  position: relative;
  cursor: pointer;
  padding: 0;

  &__label {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    z-index: 666;
    margin: 0;
  }
    
  &--slider {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #282828;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    display: block;
    text-align: center;
  }

  &--intro {
    margin-left: 10px;
    font-size: 14px;
    &::after {
      content: '';
      width: 80px;
      height: 32px;
      left: 20px;
      background-color: $main-color;
      position: absolute;
      top: 0px;
      transition: 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); 
      }

    &:hover {
      cursor: pointer;
  
      &::after {
        width: 110px;
        left: -10px;
      }
    }
  }

  &--about {
    margin-top: 15px;
    
    .button__arrow-right {
      font-size: 18px;
      transition: 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); 
    }

    &:hover {
      .button__arrow-right {
        margin-left: 1.25em;
      }
    }  
  }

  &--contacts {
    justify-content: center;
    width: 160px;
    height: 40px;
    background-color: $main-color;
    margin: 32px 0 0 0;
  }

  &--submit {
    justify-content: center;
    background-color: $main-color;
    padding: 0;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    border: none;
    height: 50px;
    width: 300px;
    position: absolute;
    margin: 0 auto;
    transition: 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); 

    &:hover {
      width: 400px;
    }
  }



  &__arrow-right{
    font-size: 15px;
    margin-left: 0.5em;
  }

  &--checkbox {
    width: 200px;
    height: 50px;
    border: 2px solid white;
    color:white;
    position: relative;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s ease-in;
    margin-bottom: 40px;
  
    & .icon-ok {
      font-size: 0;
      visibility: hidden;
      transition: 0.2s ease-in;
    }
  }
}
  