.l-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
  
.l-wrapper {
  margin: 0 2vw;
  max-width: 1670px;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}
  
.l-section-item {
  // border: 2px solid purple;
  max-width: 1440px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;  
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in;

  &--is-active {
    visibility: visible;
    opacity: 1;
  }

  &--contacts {
    width: 100%;
  }

  &--hire {
    width: 700px;
  }

  &--works {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}