@mixin screen-size($size) {
  $phone-upper-limit: 600px;
  $tablet-portrait-upper-limit: 1024px;
  $tablet-landscape-upper-limit: 1366px;
  $laptop-upper-limit:  1800px;

  @if $size == phone {
    @media screen and (max-width: $phone-upper-limit - 1) { @content; }
  } @else if $size == tablet-portrait {
    @media screen and (min-width: $phone-upper-limit) { @content; }
  } @else if $size == tablet-landscape {
    @media screen and (min-width: $tablet-portrait-upper-limit ) { @content; }
  } @else if $size == laptop {
    @media screen and (min-width: $tablet-landscape-upper-limit) { @content; }
  } @else if $size == desktop {
    @media screen and (min-width: $laptop-upper-limit) { @content; }
  }
}