$r: 300px;
$r-big: 400px;
$r-small: 200px;
$animation-curve: cubic-bezier(0.47, 0, 0.745, 0.715);

.works-slider {
  width: calc(100% - 110px);
  height: auto;
  padding: 0;
  display: block; 
  list-style: none;
  position: relative;
}

.works-slider-item {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all 500ms $animation-curve;


  &__image {
    display: block;
    border-radius: 50%;
    width: $r * 0.5;
    height: $r * 0.5;
    object-fit: cover;
    transition: all 500ms $animation-curve;
    
    @media (min-width: $vw-laptop) {
      width: $r-big * 0.5;
      height: $r-big * 0.5;
    }
  }  

  &__title {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #858585;
    left: 0;
    right: 0;
    bottom: -25px;
    transition: all 500ms $animation-curve;

  }

  &__description {
    position: absolute;
    left: 0;
    right: 0;
    width: $r;
    bottom: -96px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6em;
    opacity: 0;
    text-align: center;
    transition: opacity 400ms $animation-curve;

    @media (max-width: $vw-phone) {
      width: $r-small;
    }
    @media (min-width: $vw-laptop) {
      width: $r-big;
    }

  }

  &--center{
    position: absolute;

    z-index: 666;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 500ms $animation-curve;

    .works-slider-item {
      &__image {
        width: $r;
        height: $r;
        transition: all 500ms $animation-curve;
        
        @media (max-width: $vw-phone) {
          width: $r-small;
          height: $r-small;
        }
        @media (min-width: $vw-laptop) {
          width: $r-big ;
          height: $r-big;
        }
      }
      &__title {
        color: white;
        font-size: 16px;
        bottom: -40px;
        transition: all 500ms $animation-curve;

      }
      &__description {
        opacity: 1;
        transition: all 700ms $animation-curve;
      }
    }
  }
 //opacity 0 if screen is small
  &--left {
    opacity: 1;
    transform: translate(-235%, -50%);
    transition: all 500ms $animation-curve;

    @media (max-width: $vw-tablet) {
     opacity: 0;
    }
  }

  &--right {
    opacity: 1;
    transform: translate(135%, -50%);
    transition: all 500ms $animation-curve;

    @media (max-width: $vw-tablet) {
      opacity: 0;
    }
  }
}