$main-color: rgb(15,51,254);

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap');
@import "./global-icons";
@import "./layout", "./components", "./works-slider";



html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html > * {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
}

p {
  margin-bottom: 1.5em;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}

a {
  text-decoration: none;
}

span {
  margin: 0;
  padding: 0;
}

.hdr {
  margin-bottom: 32px;
  margin-top: 0;
  font-size: 30px;
  font-weight: 600;
  color: white;

  &--bigger {
    font-size: 90px;
    line-height: 0.95em;
    font-weight: 900;
  }

  &--smaller {
    margin: 2em 0 1.5em 0;
    font-size: 16px;
    font-weight: 600;
  }
}

.works-header {
  top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.figure-drawer-wrapper {
  position: relative;
  width: 100%;
}

.figure {
  background-color: $main-color;
  position: relative;
  &__1 {
    &::before {
      background-color: $main-color;
      content: '';
      width: 22px;
      height: 22px;
      position: absolute;
      top: 6px;
      border-radius: 50%;
    }
  }

  &__2 {
    &::before {
      background-color: $main-color;
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 16px;
      right: -20px;
    }
  }

}

.c-form-hire {
  width: 100%;
  height: auto;
  margin-top: 120px;

  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .c-button--checkbox {
      border: 2px solid $main-color;
      background-color: $main-color;

      & .icon-ok {
        visibility: visible;
        font-size: 16px;
      }
    }  
  }

  & .group-1 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }

  & .group-2 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 200px);
    height: auto;
    justify-content: space-around;
    margin: 0 auto;
  }

  & .text-input-wrapper {
    display: flex;
    justify-content: space-between;
  }

  & .submit-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }
}




.input-name {
  position: relative;
  border-bottom: 1px solid #fff;
  width: 325px;
  height: 50px;

  &__field {
    width: 100%;
    background-color: #0c0c0c;
    border: none;
    color: white;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 300; 
    font-size: 24px;
    position: absolute;
    bottom: 5px;

    &:focus ~ .input-name__label {
      font-size: 14px;
      bottom: 44px;
      color: rgba($color: #fff, $alpha: 0.6)
    }

    &:not(:placeholder-shown) ~ .input-name__label {
      font-size: 14px;
      bottom: 44px;
      color: rgba($color: #fff, $alpha: 0.6)
    }
  }

  &__label {
    color: #fff;
    position: absolute;
    bottom: 3px;
    left: -1px;
    font-weight: 300; 
    font-size: 24px;
    transition: all 0.2s ease-in;
  }
}