$main-color: rgb(15,51,254);
$sec-color: rgb(140, 140, 140);
$bg-color: rgb(12, 12, 12);
$bs: 24px;
$ff-main: "Montserrat", sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap');
@import "./global-icons";
@import "./layout", "./components", "./works-slider", "./mq";

html {
  box-sizing: border-box;
}

html > * {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  background-color: rgb(12, 12, 12);
  font-family: $ff-main;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-weight: 400;
}

h1, h2, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
}

.hdr {
  margin-bottom: 32px;
  margin-top: 0;
  font-size: 30px;
  font-weight: 600;
  color: white;

  &--bigger {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    
    @include screen-size(tablet-portrait) {
      font-size: 72px;
      line-height: 78px;
    }

    @include screen-size(tablet-landscape) {
      font-size: 68px;
      line-height: 74px;
      font-weight: 800;
    }

    @include screen-size(laptop) {
      font-size: 80px;
      line-height: 84px;
      font-weight: 900;
    }

    @include screen-size(desktop) {
      font-size: 92px;
      line-height: 96px;
    }
  }

  &--smaller {
    font-size: 16px;  

    @include screen-size(laptop) {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.works-header {
  top: 7%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.figure-drawer-wrapper {
  position: relative;
  width: 100%;
}

.figure {
  background-color: $main-color;
  position: relative;
  &__1 {
    &::before {
      content: '';
      background-color: $main-color;
      position: absolute;
      border-radius: 50%;
      width: 0.28em;
      height: 0.28em;
      top: 0.09em;
      left: 0.01em;

      @include screen-size(tablet-landscape) {
        width: 0.3em;
        height: 0.3em;
      }
    }
  }

  &__2 {
    &::before {
      content: '';
      position: absolute;
      background-color: $main-color;
      width: 0.18em;
      height: 0.18em;
      bottom: 0.22em;
      right: -0.3em;
    }
  }
}

.input-name {
  position: relative;
  border-bottom: 1px solid #fff;
  width: 325px;
  height: 50px;

  &__field {
    width: 100%;
    background-color: $bg-color;
    border: none;
    color: white;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 300; 
    font-size: 24px;
    position: absolute;
    bottom: 5px;

    &:focus ~ .input-name__label {
      font-size: 14px;
      bottom: 44px;
      color: rgba($color: #fff, $alpha: 0.6)
    }

    &:not(:placeholder-shown) ~ .input-name__label {
      font-size: 14px;
      bottom: 44px;
      color: rgba($color: #fff, $alpha: 0.6)
    }
  }

  &__label {
    color: #fff;
    position: absolute;
    bottom: 3px;
    left: -1px;
    font-weight: 300; 
    font-size: 24px;
    transition: all 0.2s ease-in;
  }
}